<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> About Sravan </h1>
    <p> Sravan is working as a devops engineer.
    <p> Currently employed in Wells Fargo EGS as System Operation Sr Analyst</p>
        <p>    Possessing 5+ years of strong experience in the field of DevOps tools like Git, Maven, Ansible, Jenkins, Docker, AWS, Linux operations, Kubernetes, Kafka, Sensu, Nginx, Terraform.</p>
        <p>  Red hat Trained in Red Hat Enterprise Linux 6 and 7.
            <p> Total 7 years experience Including Linux, Dev-ops tools, Shell scripting. 
                <p> Proficient in all aspects of software life cycle like Build/Release/Deploy.
                    <p> Extensively worked with Version Control Systems
      
    {% endblock %}
  </body>
</html>